<header class="site-header section--sidepadding" role="banner">
  <div class="column row row-contain">
    <a href="https://www.secretescapes.com/current-sales" class="logo logo--se">{{ site.title }}</a>

    <button class="hamburger" type="button" aria-label="Menu" aria-controls="main-nav"></button>

    <nav id="main-nav">
      <ul>
        <li><a href="https://www.secretescapes.com/current-sales">Current Sales</a></li>
        <li><a href="/">Top Destinations</a></li>
        <li><a href="https://www.secretescapes.com/magazine" target="_new">Magazine</a></li>
        <li class="divider"></li>
      </ul>
    </nav>
  </div>
</header>
