<div class="tile tile__container">
    <a href="#">
        <div class="tile__image">
            <img src="https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=937&q=80&cs=tinysrgb" />
        </div>
        <div class="spacer--card-padded-box text-style--center">
            <h3>Sale title</h3>
            <h5>Location string</h5>
            <p class="text-style--brand">Up to TopDiscount off <span class="text-style--dark">|</span> TimeRemaining</p>
        </div>
    </a>
</div>
